h1{
    color: yellow;  
    text-align: center;
    font-weight: bold;
}

@font-face{
    font-family: 'Akbar';
    src: url("https://fontmeme.com/fonts/simpsonfont-font/");
}

body{
    background-color: blue;
}